*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.body{
    background: black;
}
.main{
    width: 1000px;
    margin: auto;
    

}
.row1{
    width: 1000px;
    height: 186px;
    background: url(../images/headerbg.jpg);
    border-radius: 5px;
}
.logo{
    width: 210px;
    height: 160px;
    float: left;
    margin-left: 50px;
    margin-top: 10px;
}
.tagline{
    width: 400px;
    height: 136px;
    float: left;
    text-align: center;
    font-weight: bold;
    color: #00618A;
    margin-top: 50px;
}
.contact{
    width: 296px;
    height: 132px;
    background: url(../images/topcontactbg.png);
    float: left;
    margin: 20px;
    text-align: center;
    
}
.domain{
    font-size: 20px;
    color: black;
    padding-top: 10px;
}
.email{
    font-size: 25px;
    font-weight: bold;
    padding-top: 10px;
}
.numb{
color: white;
font-size: 20px;
padding-top: 10px;
font-weight: bold;
}
.row2{
    width: 1000px;
    height: 50px;
    background: url(../images/menubg.jpg);
    border-radius: 5px;
}
.menuitems1{
    width: 127px;
    height: 44px;
    background: url(../images/menuactive.png);
    float: left;
    text-align: center;
    padding-top: 10px;
    margin-top: 10px;
    margin-left: 80px;
}
.menuitems2{
    width: 127px;
    height: 44px;
    background: url(../images/menuactive.png);
    float: left;
    text-align: center;
    padding-top: 10px;
    margin-top: 10px;
    margin-left: 20px;
}
.menuitems3{
    width: 127px;
    height: 44px;
    background: url(../images/menuactive.png);
    float: left;
    text-align: center;
    padding-top: 10px;
    margin-top: 10px;
    margin-left: 20px;
}
.menuitems4{
    width: 127px;
    height: 44px;
    background: url(../images/menuactive.png);
    float: left;
    text-align: center;
    padding-top: 10px;
    margin-top: 10px;
    margin-left: 20px;
}
.menuitems5{
    width: 127px;
    height: 44px;
    background: url(../images/menuactive.png);
    float: left;
    text-align: center;
    padding-top: 10px;
    margin-top: 10px;
    margin-left: 20px;
}
.menuitems6{
    width: 127px;
    height: 44px;
    background: url(../images/menuactive.png);
    float: left;
    text-align: center;
    padding-top: 10px;
    margin-top: 10px;
    margin-left: 20px;
}
.row3{
    width: 1000px;
    margin-top: 20px;
    display: flex;
    border-radius: 5px;
}
.row3left{
    border-radius: 5px;
}
.row3leftmenu{
    width: 213px;
    height: 40px;
    background: url(../images/leftmenubg.png);
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
    border-radius: 10px;
}
.row3right{
    padding-left: 20px;
    border-radius: 10px;
    
}
.row4{
    width: 1000px;
    margin-top: 10px;
    display: flex;
    border-radius: 10px;
    
}
.row4c1{
    width: 300px;
    height: 190px;
    background: url(../images/whybg.jpg);
    color: white;
    text-align: center;
    padding-top: 15PX;
    font-weight: bold;
    border-radius: 5px;
    border-radius: 5px;
    border-radius: 5px;
}
.row4c1 ol li{
    list-style: none;
    text-align: justify;
    padding-left: 20px;
    line-height: 20px;
    padding-top: 10px;
    
}
.row4c2{
    width: 280px;
    height: 190px;
    background-color: #FDC059;
    margin-left: 15px;
    border-radius: 5px;

}
.row4c2 p{
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding-top: 10px;
    padding-left: 5px;
}
.row4c2 ul li {
    list-style: none;
    text-align: justify;
    padding-left: 20px;
    line-height: 17px;
    padding-top: 10px;
    font-weight: bold;

}
.row4c3{
    width: 380px;
    height: 190px;
    background: url(../images/services.jpg);
    margin-left: 15px;
    border-radius: 5px;
}
.row5{
    width: 1000px;
    margin-top: 10px;
    background: url(../images/footermenubg.jpg);
    height: 47px;
    text-align: center;
    word-spacing: 10px;
    padding-top: 15px;
    font-weight: bold;
    border-radius: 10px;
}
.row3rightabout{
    width: 734px;
    background-color: white;
    font-size: 20px;
    padding-left: 30px;
    line-height: 35px;
}
.row3rightabout h1{
    padding-top: 20px;
}
.row3rightcourse{
    width: 764px;
    background-color: white;
    font-size: 20px;
    padding-left: 30px;
    line-height: 35px;
    border-radius: 5px;
}
.row3rightcourse h1{
    padding-top: 20px;
}
.row3rightgallry{
    width: 764px;
    background-color: white;
    border-radius: 5px;
}
.row3rightgallry h1{
    padding-top: 20px;
    padding-left: 20px;
}
.gallery1{
    display: flex;
    padding-left: 25px;
    
}
.gallery1 img{
    width: 90%;
    margin-top: 10px;
}
.row3rightform{
    width: 764px;
    background-color: white;
    font-size: 20px;
    padding-left: 30px;
    line-height: 35px;
    border-radius: 5px;
}
.row3rightform h1{
    padding-top: 15px;
    padding-left: 10px;
}
form{
    padding: 15px 10px;
}
.save{
    width: 70px;
    height: 30px;
    background-color: cyan;
    border-radius: 5px;
}
.row3rightcontact{
    width: 764px;
    background-color: white;
    font-size: 20px;
    padding-left: 30px;
    line-height: 35px;
    line-height: 60px;
    border-radius: 5px;
}
.row3rightcontact h1{
    padding-top: 15px;
    padding-left: 10px;
}
a{
    text-decoration: none;
    color: black;
    
}
